body {
    font-size: 1.em;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid greenyellow;
    padding: 15px;
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
}

.item {
    background: blue;
    margin-bottom: 3px;
    padding: 5px;
}